    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg">
        <div class="container">
  
          <div class="section-header">
            <h3 class="section-title">More Features</h3>
            <span class="section-divider"></span>
            <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title"><a href="">Dolor Sitema</a></h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <div class="icon"><i class="ion-ios-heart-outline"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
              </div>
            </div>
  
          </div>
        </div>
      </section><!-- End More Features Section -->
  