{% extends 'covid_layout.html' %}

{% block body %}

<main class="wrapper" id="home">
    <!-- Preloader -->
    
    <!-- End Preloader -->

    <section class="banner d-flex align-items-center justify-content-center" data-bg-img="static/covid/img/world-update.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Banner Content -->
                    <div class="text-center">
                        <h1>Coronavirus disease (COVID-19) outbreak</h1>
                        <p style="color:black"  class="ml-auto mr-auto ">Most people infected with the COVID-19 virus will experience mild to moderate respiratory
                            illness and requiring special treatment. Older people, and those with underlying medical
                            problems
                        </p>

                        <div class="banner-btn-group">
                            <a href="{{ url_for('Index') }}" class="btn">Go Back TO Health News</a>
                           
                        </div>
                    </div>
                    <!-- End Banner Content -->
                </div>
            </div>
        </div>
    </section>


  <!-- Live Update -->
  <section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="corona-live-update top-50" data-bg-img="static/covid/img/pattern.png">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg">
                            <div
                                class="live-update-title d-flex flex-column align-items-center justify-content-center p-20">
                                <h2 class="d-inline-flex align-items-center">
                                    <span>Live</span>
                                    <span>update</span> </h2>
                                <span>world update</span>
                            </div>
                        </div>

                        <div class="col-lg">
                            <!-- Corona Update -->
                            <div id="coronaUpdate" class="corona-update row no-gutters">
                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_confirmed d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ data.Global.TotalConfirmed }}  &nbsp; </h2>
                                    <span>Confirmed</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_recovered d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ data.Global.TotalRecovered}}  &nbsp; </h2>
                                    <span>Recovered</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_deaths d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ data.Global.TotalDeaths }}  &nbsp;</h2>
                                    <span>Total Deaths</span>
                                </div>
                                <!-- End Info -->


                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_countries d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ data.Global.NewDeaths }}  &nbsp;</h2>
                                    <span>New Deaths</span>
                                </div>
                                <!-- End Info -->
                            </div>
                            <!-- End Corona Update -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br><br><br><br><br><br>
        <div class="row">
            <div class="col-12">
                <div class="corona-live-update top-50" data-bg-img="static/covid/img/pattern.png">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg">
                            <div
                                class="live-update-title d-flex flex-column align-items-center justify-content-center p-20">
                                <h2 class="d-inline-flex align-items-center">
                                    <span>Live</span>
                                    <span>update</span> </h2>
                                <span>{{ uganda_data[-1].Country}} </span>
                            </div>
                        </div>

                        <div class="col-lg">
                            <!-- Corona Update -->
                        
                            <div id="coronaUpdate" class="corona-update row no-gutters">
                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_confirmed d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ uganda_data[-1].Confirmed}}  &nbsp; </h2>
                                    <span>Confirmed</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_recovered d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ uganda_data[-1].Recovered}}  &nbsp; </h2>
                                    <span>Recovered</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_deaths d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ uganda_data[-1].Deaths}} &nbsp;</h2>
                                    <span>Total Deaths</span>
                                </div>
                                <!-- End Info -->


                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_countries d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ uganda_data[-1].Active}}  &nbsp;</h2>
                                    <span>Active Cases</span>
                                </div>
                                <!-- End Info -->
                            </div>

                           

                            <!-- End Corona Update -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-12">
                <div class="corona-live-update top-50" data-bg-img="static/covid/img/pattern.png">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg">
                            <div
                                class="live-update-title d-flex flex-column align-items-center justify-content-center p-20">
                                <h2 class="d-inline-flex align-items-center">
                                    <span>Live</span>
                                    <span>update</span> </h2>
                                <span>{{ south_data[18].Country}} </span>
                            </div>
                        </div>

                        <div class="col-lg">
                            <!-- Corona Update -->
                        
                            <div id="coronaUpdate" class="corona-update row no-gutters">
                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_confirmed d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ south_data[-1].Confirmed}}  &nbsp; </h2>
                                    <span>Confirmed</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_recovered d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ south_data[-1].Recovered}}  &nbsp; </h2>
                                    <span>Recovered</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_deaths d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ south_data[-1].Deaths}} &nbsp;</h2>
                                    <span>Total Deaths</span>
                                </div>
                                <!-- End Info -->


                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_countries d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ south_data[-1].Active}}  &nbsp;</h2>
                                    <span>Active Cases</span>
                                </div>
                                <!-- End Info -->
                            </div>

                           

                            <!-- End Corona Update -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-12">
                <div class="corona-live-update top-50" data-bg-img="static/covid/img/pattern.png">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg">
                            <div
                                class="live-update-title d-flex flex-column align-items-center justify-content-center p-20">
                                <h2 class="d-inline-flex align-items-center">
                                    <span>Live</span>
                                    <span>update</span> </h2>
                                <span>{{ nigeria_data[-1].Country}} </span>
                            </div>
                        </div>

                        <div class="col-lg">
                            <!-- Corona Update -->
                        
                            <div id="coronaUpdate" class="corona-update row no-gutters">
                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_confirmed d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ nigeria_data[-1].Confirmed}}  &nbsp; </h2>
                                    <span>Confirmed</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_recovered d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ nigeria_data[-1].Recovered}}  &nbsp; </h2>
                                    <span>Recovered</span>
                                </div>
                                <!-- End Info -->

                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_deaths d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ nigeria_data[-1].Deaths}} &nbsp;</h2>
                                    <span>Total Deaths</span>
                                </div>
                                <!-- End Info -->


                                <!-- Info -->
                                <div
                                    class="col-lg-3 col-sm-6 cu_info cu_countries d-flex flex-column align-items-center justify-content-center p-30">
                                    <h2 class=""> {{ nigeria_data[-1].Active}}  &nbsp;</h2>
                                    <span>Active Cases</span>
                                </div>
                                <!-- End Info -->
                            </div>

                           

                            <!-- End Corona Update -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Live Update -->



<!-- End Live Update -->

<br></br><br></br>


<p>
</p>

<br></br>

{% endblock %}