{% extends 'layouts.html' %}

{% block body %}

  <!-- ======= Intro Section ======= -->
  <section id="intro">

    <div class="intro-text">
      <h2>Welcome to Health Rocky</h2>
      <p>Worlds Fastest Health News Agregator</p>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>

    <div class="product-screens">

      <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
        <img src="static/img/product-screen-1.png" alt="">
      </div>

      <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="static/img/product-screen-2.png" alt="">
      </div>

      <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="static/img/product-screen-3.png" alt="">
      </div>

    </div>

  </section><!-- End Intro Section -->



    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">About Us</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br>
            sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>


      </div>
    </section><!-- End About Section -->

    <!-- ======= Featuress Section ======= -->
    <section id="features">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 offset-lg-4">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title">Product Featuress</h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="static/img/product-features.png" alt="" class="wow fadeInLeft">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">
                
              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">Coronavirus Updates</a></h4>
                <p class="description"> {{description }}</p>
              </div>

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="{{ url_for('world_health_news') }}">World Health News</a></h4>
                <p class="description"> {{description }}</p>
              </div>

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">Nigeria </a></h4>
                <p class="description"> {{description }}</p>
              </div>

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">South Africa</a></h4>
                <p class="description"> {{description }}</p>
              </div>
           
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Featuress Section -->


    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Subscribe For free</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Subcribe</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container">

        <div class="row wow fadeInUp">

          <div class="col-md-2">
            <img src="static/img/clients/client-1.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="static/img/clients/client-2.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="static/img/clients/client-3.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="static/img/clients/client-4.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="static/img/clients/client-5.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="static/img/clients/client-6.png" alt="">
          </div>

        </div>
      </div>
    </section><!-- End Clients Section -->


{% endblock %}