{% extends 'layouts.html' %}

{% block body %}

  <!-- ======= Intro Section ======= -->
  <section id="intro">

    <div class="intro-text">
      <h2>Healthy Rocky V.1.0</h2>
      <p>Subcribe to get daily health news straight to your DM</p>
      <a href="#about" class="btn-get-started scrollto">Subscibe Now</a>

      <p>

        <form method="POST">
  <div class="form-row">
    <div class="col-7">
      <input type="email" class="form-control  btn-get-started" placeholder="enter email here">
    </div>
    
    <div class="col-5">
        <button type="submit" class="btn-get-started scrollto ">Submit</button>
    </div>
  </div>
</form>
      </p>
    </div>

    

    <div class="product-screens">

      <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
        <img src="static/img/product-screen-1.png" alt="">
      </div>

      <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="static/img/product-screen-2.png" alt="">
      </div>

      <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="static/img/product-screen-3.png" alt="">
      </div>

    </div>

  </section><!-- End Intro Section -->



    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid ">
        <div class="section-header">
          <h3 class="section-title">About</h3>
          <span class="section-divider"></span>
          <p class="section-description text-center">
          WE aggregate Medical health  news from credible and established medical news outlets from all over  the world
              , providing you with fast hand information thats updated every second that counts, trust us with providing you the shortest route to your world 
              of medical science information delivered at the glimpse, we are not a health news blog, but a First hand Health news aggregator and thats what makes us
              special for you.
          </p>
        </div>


      </div>
    </section><!-- End About Section -->

    

{% endblock %}