   <!-- Header -->
   <header class="header">
    <div class="header-fixed">
        <div class="container">
            <div class="row no-gutters align-items-center position-relative">
                <div class="col-lg-2 col-sm-4 col-5">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="static/covid/img/logo.png" alt="" />
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div class="col-lg-8 col-sm-4 col-4 position-static">
                    <!-- Main Menu -->
                    <div
                        class="main-menu d-flex align-items-center justify-content-lg-center justify-content-end">
                        <!-- Nav -->
                        <ul class="nav align-items-center onPageNav">
                            <li>
                                <a href="#home">Health Topics</a>
                            </li>
                            <li>
                                <a href="#countries">Countries</a>
                            </li>
                            <li>
                                <a href="#dataTable">Data Table</a>
                            </li>
                            <li><a href="#coronaTest">Online Test</a></li>

                            <li>
                                <a href="#">Pages</a>

                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End Nav -->
                    </div>
                    <!-- End Main Menu -->
                </div>

                <div class="col-lg-2 col-sm-4 col-3 text-right">
                    <a href="#" class="btn header-btn">
                        <span class="icon d-sm-none">
                            <img src="static/covid/img/icon/sick.svg" class="svg" alt="">
                        </span>
                        <span class="d-none d-sm-block">are you sick?</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->