   <!-- Header -->
   <header   class="header">
    <div style="background-image: linear-gradient(to right, #dbfbff00, rgb(5, 224, 177));" class="header-fixed">
        <div class="container">
            <div class="row no-gutters align-items-center position-relative">
                <div class="col-lg-2 col-sm-4 col-5">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{{ url_for('Index') }}">
                            <h4 style="color:rgb(3, 61, 49)">HEALTH ROCKY</H4>
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div  class="col-lg-8 col-sm-4 col-4 position-static">
                    <!-- Main Menu -->
                    <div
                        class="main-menu d-flex align-items-center justify-content-lg-center justify-content-end">
                        <!-- Nav -->
                        
                        <!-- End Nav -->
                    </div>
                    <!-- End Main Menu -->
                </div>

                <div class="col-lg-2 col-sm-4 col-3 text-right">
                   
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->