 <!-- Footer Boottom -->
 <div class="footer-bottom" style="background-image: linear-gradient(to right, #dbfbff00, rgb(5, 224, 177));">
    <div class="container">
        <div  class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <!-- Copyright Text -->
                <span class="copyright-text text-white">Copyright © 2020 Health Rocky By Colline Louis
                    </span>
                <!-- End Copyright Text -->
            </div>
            <div class="col-lg-6 order-first order-lg-last">
                <!-- Footer Menu -->
                <ul
                    class="list-unstyled footer-menu d-flex align-items-center justify-content-center justify-content-lg-end mb-15 mb-lg-0">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <!-- End Footer Menu -->
            </div>
        </div>
    </div>
</div>
<!-- End Footer Boottom -->
</footer>
<!-- End Footer -->
</main>
<!-- End Main Wrapper -->

<!-- ======= jQuery Library ======= -->
<script src="static/covid/js/jquery.min.js"></script>

<!-- ======= Data Table JS ======= -->
<script src="static/covid/plugins/data-tables/datatables.min.js"></script>

<!-- ======= Magnific Popup JS ======= -->
<script src="static/covid/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- ======= One Page Nav JS ======= -->
<script src="static/covid/plugins/nav/nav.min.js"></script>

<!-- ======= Menu JS ======= -->
<script src="static/covid/js/menu.min.js"></script>

<!-- ======= Main JS ======= -->
<script src="static/covid/js/main.js"></script>

<!-- ======= Custom JS ======= -->
<script src="static/covid/js/custom.js"></script>
