aniso8601==8.0.0
astroid==2.4.2
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.1.1
Flask==1.1.2
Flask-Cors==3.0.9
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==2.0.1
passlib==1.7.4
pycparser==2.20
pylint==2.6.0
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2020.1
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.11
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
WTForms==2.3.3
xmljson==0.2.1
xmltodict==0.12.0
